.paddle {
    position: relative;
    margin-top: 380px;
    background: linear-gradient(180deg, rgba(204,200,200,0.1601890756302521) 0%, rgba(255,250,250,0.3534663865546218) 46%, rgba(255,255,255,0.14338235294117652) 47%);   
    background-color: rgb(146, 141, 141);
    border-radius: 15px;
}